<!DOCTYPE html>
<html>
<head>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

  <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '-',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>







<body>

<!-- GOOGLE PLUS SIGN IN BUTTON-->
<!-- *** This one is deprecated *** -->
<!-- <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="YOUR_CLIENT_ID_GOES_HERE.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div> -->
<!--END GOOGLE PLUS SIGN IN BUTTON -->







<!-- Google Sign in  button -->
<button id="signinButton">Google Signin</button>
<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
<!-- end of Google Sign in  button -->





<!-- Show other data received from the server if the result was Successful -->
<div id='result'>Result:</div>

<!-- To send the authorization code to the server -->
<script>
function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      // Always include an `X-Requested-With` header in every AJAX request,
      // to protect against CSRF attacks.
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      },
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response.
        $('#result').html('Login Sucessful!</br>' + result + '</br>Redirecting...')
        setTimeout(function(){
          window.location.href  = "/restaurants";
        }, 4000);
      },
      processData: false,
      data: authResult['code']
    });
  } else {
    // There was an error.
    $('#result').html('Failed to make the server-side call</br>check the console and configuration.')
    console.log('There was an error: ' + authResult['error']);
  }
}
</script>
<!-- end of To send the authorization code to the server -->



<!-- <div id='result'></div> -->

<!-- To be reviewed -->
<!-- <script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/";
                 }, 2000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script> -->





  </body>

  </html>
