<html>
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
  </head>

  <body>
    <h1>Menu by: {{creator.name}}</h1>
    <img src="{{creator.picture}}">

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
          {% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <a href={{url_for('newMenuItem', restaurant_id=restaurant_id)}} >Add a new Menu Item</a>

    <h2>Appetizers</h2>

    {% for i in menu %}
    {% if i.course == 'Appetizer' %}
    <div>
      <h4>{{i.name}}</h4>
      <p>{{i.description}}</p>
      <p>{{i.price}}</p>
      <a href={{url_for('editMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Edit</a>
      </br>
      <a href={{url_for('deleteMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Delete</a>
</br></br></br></br>
    </div>
    {% endif %}
    {% endfor %}

    <h2>Entrees</h2>

    {% for i in menu %}
    {% if i.course == 'Entree' %}
    <div>
      <h4>{{i.name}}</h4>
      <p>{{i.description}}</p>
      <p>{{i.price}}</p>
      <a href={{url_for('editMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Edit</a>
      </br>
      <a href={{url_for('deleteMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Delete</a>
</br></br></br></br>
    </div>
    {% endif %}
    {% endfor %}


    <h2>Desserts</h2>

    {% for i in menu %}
    {% if i.course == 'Dessert' %}
    <div>
      <h4>{{i.name}}</h4>
      <p>{{i.description}}</p>
      <p>{{i.price}}</p>
      <a href={{url_for('editMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Edit</a>
      </br>
      <a href={{url_for('deleteMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Delete</a>
</br></br></br></br>
    </div>
    {% endif %}
    {% endfor %}


    <h2>Beverages</h2>

    {% for i in menu %}
    {% if i.course == 'Beverage' %}
    <div>
      <h4>{{i.name}}</h4>
      <p>{{i.description}}</p>
      <p>{{i.price}}</p>
      <a href={{url_for('editMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Edit</a>
      </br>
      <a href={{url_for('deleteMenuItem', menu_id=i.id, restaurant_id=i.restaurant_id)}}>Delete</a>
</br></br></br></br>
    </div>
    {% endif %}
    {% endfor %}

    </br>
    </br>
    <a href="{{url_for('showRestaurants')}}">Home</a>

  </body>
</html>
