<html>
  <head>
    <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
  </head>

  <body>
    <h1>Restaurants</h1>

    <!-- Check if a user is logged in and show the correct button -->
    {% if log_in_stat == None %}
    <a href={{url_for('showLogin')}} ><h3>LOGIN</h3></a>
    {% else %}
    <a href={{url_for('gdisconnect')}} ><h3>LOGOUT</h3></a>
    {% endif %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
          {% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <a href={{url_for('newRestaurant')}} >Add a new Restaurant</a>

    {% for i in restaurants %}

    <div>
      {{i.picture}}
      <a href={{url_for('showMenu', restaurant_id=i.id)}} ><h3>{{i.name}}</h3></a>

    </div>
    {% endfor %}

  </body>
</html>
